.row{
    margin-bottom: 10px;
}
.row [class*="col"] {
    display: block;
    width: 100%;
    min-height: 28px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-left: 0.564102564%;
    *margin-left: 0.510911074638298%;
}
[class*="col"]:first-child {
    margin-left: 0;
}
.row .col12 {
    width: 100%;
    *width: 99.94680851063829%;
}
.row .col11 {
    width: 91.45299145300001%;
    *width: 91.3997999636383%;
}
.row .col10 {
    width: 82.905982906%;
    *width: 82.8527914166383%;
}
.row .col9 {
    width: 74.358974359%;
    *width: 74.30578286963829%;
}
.row .col8 {
    width: 65.81196581200001%;
    *width: 65.7587743226383%;
}
.row .col7 {
    width: 57.264957265%;
    *width: 57.2117657756383%;
}
.row .col6 {
    width: 48.717948718%;
    *width: 48.6647572286383%;
}
.row .col5 {
    width: 40.170940171000005%;
    *width: 40.117748681638304%;
}
.row .col4 {
    width: 31.623931624%;
    *width: 31.5707401346383%;
}
.row .col3 {
    width: 23.076923077%;
    *width: 23.0237315876383%;
}
.row .col2 {
    width: 14.529914530000001%;
    *width: 14.4767230406383%;
}
.row .col1 {
    width: 5.982905983%;
    *width: 5.929714493638298%;
}
/*.row [class*="col"] {
  float: left;
  margin-left: 5px;
}*/
.principal ul{
    list-style: none;
    margin: 10px 0 0 0;
    padding: 0;
}
/*																elementos auxiliares*/
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix { display: inline-table; }
/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
/*.clearfix { display: block; }*/
/* End hide from IE-mac */
section.main, footer{
    max-width: 960px;
    margin: 0 auto;
} 
h2 {
    font-size: 1.2em;
}
.principal h3{
    font-size: 2.5em;
    margin: 0 0;
    padding-top: 1.1em;
}
h3{
    margin: 5px 0;
}
aside{
    float: left;
}
.mainWrap{
    max-width: 960px;
    margin: 0 auto;
    float: left;
}
.textos{
    display: block;
    left: 1%;
    position: absolute;
    top: 30%;
    width: 70%;
    max-width: 840px;
    /*height: 100px;*/
    padding: 20px;
    background: #fafafa;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #999;
    z-index: 11;

}
.lb{
   background: rgba(0, 0, 0, 0.7);
   width: 100%;
   height: 100%;
   position: absolute;
   top:0;
   Left:0;
   z-index: 10;
}
footer .bottom{
    background: #036;
    padding:10px 5px;
    height: 15px;
    text-align: center;
}
footer .bottom a{
        color: #fff;
        text-decoration: none;
}
/* Estilos Responsive */
@media only screen and (min-width: 1024px){

}

@media only screen and (min-width: 935px) and (max-width: 1023px){

}
@media only screen and (max-width: 935px) {

}

@media only screen and (min-width: 641px) and (max-width: 934px){

}

@media only screen and (max-width: 640px){

}
